.btn {
  display: table;
  border-radius: 32px;
  padding: 5px 30px 9px;
  font-weight: 700;
  font-size: 26px;
  line-height: 123%;

  &--primary{
    background-color: #131313;
    color: #fff;

    @include media-down(xl){
      font-weight: 700;
      font-size: 22px;
      line-height: 145%;
    }
  }
  &--orange{
    font-weight: 600;
    font-size: 22px;
    line-height: 136%;
    color: #EE7326;
    padding: 0;
    @include media-down(xl){
      font-size: 18px;
      line-height: 167%;
    }

  }
}