.slide-banner {
  background-image: url("@images/banner.png");
  background-color: #000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;

  &__title {
    margin-bottom: 60px;
    max-width: 1050px;
    font-weight: 700;
    font-size: 70px;
    line-height: 114%;

    @include media-down(xl){
      max-width: 735px;
      font-size: 54px;
      line-height: 119%;
      margin-bottom: 72px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
  }

  &__mouse {
    mix-blend-mode: lighten;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 120px;

    img {
      max-width: 60px;
    }
  }
}