.slide-groups {
  $root: &;
  background-color: #131313;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  &__title {
    font-weight: 700;
    font-size: 136px;
    line-height: 100%;
    color: #131313;
    margin-bottom: 10px;

    @include media-down(xl){
      font-size: 109px;
      line-height: 103%;
    }
  }

  &__text {
    font-weight: 600;
    font-size: 22px;
    line-height: 136%;
    text-align: center;
    color: #131313;
    max-width: 350px;

    @include media-down(xl){
      font-size: 18px;
      line-height: 139%;
    }
  }

  &__circle {
    width: 100%;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 600px;
      min-width: 600px;
      height: 600px;
      min-height: 600px;
      background: blue;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      border-radius: 600px;
    }

    &-wrapper {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      position: relative;
      z-index: 2;
    }

    &--orange {
      z-index: 3;
      &:after {
        background-color: #EE7326;
      }
    }

    &--gray {
      z-index: 2;
      &:after {
        background-color: #E2E2E2;
      }
    }

    &--white {
      z-index: 1;
      &:after {
        background-color: #fff;
      }

      #{$root}__title {
        font-weight: 700;
        font-size: 88px;
        line-height: 100%;
        color: #131313;
        margin-bottom: 34px;

        @include media-down(xl){
          font-size: 67px;
          line-height: 131%;
        }
      }
    }
  }
}